form * {
  width: 100%;
  text-align: left;
}

form .box {
  padding: 0;
}

form li {
  padding: 10px;
}

form input,
form select {
  border: 2px solid #000;
  border-radius: 5px;
  padding: 5px;
}

input:focus {
  border: 3px solid #0275d8;
}

form .btn {
  padding: 10px;
  margin: 10px 0;
}

@media all and (min-width: 768px) {
  .box {
    justify-content: space-between;
  }
  .box-item {
    width: 30%;
  }

  form .btn {
    width: auto;
  }
}
