/*Tablas*/
table.table-shrink {
  width: auto;
}

/*flex-item*/
.center-flex {
  justify-content: center;
}

/*Margin*/
.mt-15 {
  margin-top: 15px;
}

/*Background*/
.lightgreen {
  background-color: #d6e9c6;
}
